<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="shuttle">
			<section name="eventStore" type="Shuttle.Recall.SqlServer.EventStoreSection, Shuttle.Recall.SqlServer"/>
		</sectionGroup>
	</configSections>

	<shuttle>
		<eventStore
			connectionStringName="event-store-connection-string-name"
	    />
	</shuttle>
</configuration>